.tiptap-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tiptap {
  padding: 0.75rem;
  min-height: 250px;
  outline: none;
}

.tiptap {
  padding: 0.75rem;
  min-height: 250px;
  outline: none;
  /* VVV--- ADICIONE ESTAS DUAS LINHAS ---VVV */
  max-height: 74vh; /* Define uma altura máxima (60% da altura da tela) */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.tiptap-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
}

.tiptap-menu button {
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.tiptap-menu button:hover {
  background-color: #e9ecef;
}

.tiptap-menu button.is-active {
  background-color: #d0ebff;
  border-color: #99cfff;
}

/* Estilo para o separador na barra de ferramentas */
.separator {
  width: 1px;
  height: 1.25rem;
  background-color: #ddd;
  margin: 0 0.5rem;
}

/* ESTILO PARA NOSSA MARCAÇÃO CUSTOMIZADA DENTRO DO EDITOR */
.tiptap span[data-meta="titulo"] {
  background-color: #e6f7ff; /* Fundo azul claro */
  border-bottom: 2px solid #91d5ff; /* Borda inferior azul */
  padding: 2px 0;
}

.tiptap s {
  color: #c82333; /* Vermelho escuro */
  text-decoration: line-through;
  text-decoration-color: #c82333; /* Garante que a linha também seja vermelha */
}